# Dependencies
node_modules/
docs/

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
/dist
/build
/.next


# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# Test coverage
coverage/
